/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

/**************
 * Scrollbars *
 **************/

scrollbar {
    background-image: none;
    border-style: none;
    border-color: #101010;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrollbar-activate-slider: 1;
    -GtkScrolledWindow-scrollbar-spacing: 0;
}

/* broken firefox ignore background of trough */
scrollbar.horizontal {
    background-image: none;
}

scrollbar.vertical {
    background-image: none;
}

scrollbar.horizontal:hover {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (shade (@theme_bg_color, 0.98), 0.5)),
                                     to (alpha (shade (@theme_bg_color, 1.06), 0.5)));
    min-height: 16px;
    border-style: solid;
    border-color: #080808;
}

scrollbar.vertical:hover {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (alpha (shade (@theme_bg_color, 0.98), 0.5)),
                                     to (alpha (shade (@theme_bg_color, 1.06), 0.5)));
    min-width: 16px;
    border-style: solid;
    border-color: #080808;
}

scrollbar.vertical:hover slider,
scrollbar.vertical:hover .slider {
    min-width: 14px;
}

scrollbar.horizontal:hover slider,
scrollbar.horizontal:hover .slider {
    min-height: 14px;
}

scrollbar.vertical {
    border-width: 0px 0px 0px 1px;
    min-width: 0px;
    transition: 250ms ease-out;
}

scrollbar.horizontal {
    border-width: 1px 0px 0px 0px;
    min-height: 0px;
    transition: 250ms ease-out;
}

scrollbar.vertical trough {
    min-width: 0px;
    background-image: none;
    border-radius: 0;
    border-style: none;
    box-shadow: none;
}

scrollbar.horizontal trough {
    min-height: 0px;
    background-image: none;
    border-radius: 0;
    border-style: none;
    box-shadow: none;
}

scrollbar trough:disabled {
    background-color: shade (@theme_bg_color, 1.06);
}

/* Sliders */
scrollbar.vertical slider,
scrollbar.vertical .slider {
    min-width: 8px;
    min-height: 48px;
    margin: 1px -1px 1px -1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 2.5)),
                                     to (shade (@theme_bg_color, 1.5)));
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    box-shadow: inset  0px  2px alpha(shade(#fff, 1.00), 0.1),
                inset  2px  0px alpha(shade(#fff, 1.00), 0.1),
                inset -2px  0px alpha(shade(#fff, 1.00), 0.1),
                inset  0px -2px alpha(shade(#fff, 1.00), 0.1),
                inset  0px  1px alpha(shade(@button_border, 1.00), 0.70),
                inset  1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset -1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset  0px -1px alpha(shade(@button_border, 0.88), 0.90);
    transition: 250ms ease-out;
}

scrollbar.vertical slider:hover,
scrollbar.vertical slider:hover:active,
scrollbar.vertical .slider:hover, /* broken firefox */
scrollbar.vertical .slider:hover:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 3.5)),
                                     to (shade (@theme_bg_color, 2.5)));
}

scrollbar.horizontal slider,
scrollbar.horizontal .slider {
    min-width: 48px;
    min-height: 8px;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 2.5)),
                                     to (shade (@theme_bg_color, 1.5)));
    border-color: transparent;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset  0px  2px alpha(shade(#fff, 1.00), 0.1),
                inset  2px  0px alpha(shade(#fff, 1.00), 0.1),
                inset -2px  0px alpha(shade(#fff, 1.00), 0.1),
                inset  0px -2px alpha(shade(#fff, 1.00), 0.1),
                inset  0px  1px alpha(shade(@button_border, 1.00), 0.70),
                inset  1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset -1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset  0px -1px alpha(shade(@button_border, 0.88), 0.90);
    transition: 250ms ease-out;
}

scrollbar.horizontal slider:hover,
scrollbar.horizontal slider:hover:active,
scrollbar.horizontal .slider:hover,
scrollbar.horizontal .slider:hover:active {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 3.5)),
                                     to (shade (@theme_bg_color, 2.5)));
}

scrollbar slider:disabled,
scrollbar .slider:disabled {
    background-color: shade (@theme_bg_color, 0.9);
}

/* Buttons */
scrollbar.vertical button,
scrollbar.vertical .button {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
}

scrollbar.horizontal button,
scrollbar.horizontal .button {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
}

scrollbar button,
scrollbar button:hover,
scrollbar button:hover:active,
scrollbar button:disabled,
scrollbar .button, /* broken firefox */
scrollbar .button:hover,
scrollbar .button:hover:active,
scrollbar .button:disabled {
    box-shadow: inset  0px  1px alpha(shade(#fff, 1.00), 0.1),
                inset  1px  0px alpha(shade(#fff, 1.00), 0.1),
                inset -1px  0px alpha(shade(#fff, 1.00), 0.1),
                inset  0px -1px alpha(shade(#fff, 1.00), 0.1);
    border-style: none;
    border-image: none;
    border-radius: 0;
    background-color: transparent;
}

scrollbar .button:disabled {
    box-shadow: none;
}

/* broken firefox */
scrollbar .button {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_gradient1),
                                     color-stop (0.50, @button_gradient3),
                                     to   (@button_gradient4));
}

scrollbar button:hover,
scrollbar button:hover:active,
scrollbar .button:hover,
scrollbar .button:hover:active {
    background-color: alpha(shade(@scrollbar_trough, 0.8), 0.5);
}

scrollbar.vertical button.up,
scrollbar.vertical .button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
    -gtk-icon-effect: highlight;
}

scrollbar.vertical button.down,
scrollbar.vertical .button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    -gtk-icon-effect: highlight;
}

scrollbar.horizontal button.up,
scrollbar.horizontal .button.up {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
    -gtk-icon-effect: highlight;
}

scrollbar.horizontal button.down,
scrollbar.horizontal .button.down {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    -gtk-icon-effect: highlight;
}

scrollbar button,
scrollbar .button {
    color: @theme_fg_color;
}

scrollbar button:hover,
scrollbar button:hover:active,
scrollbar .button:hover,
scrollbar .button:hover:active {
    color: @theme_selected_fg_color;
}

scrollbar button:disabled,
scrollbar .button:disabled {
    background-color: @insensitive_bg_color;
    color: @insensitive_fg_color;
}

scrollbar.fine-tune slider:hover:active,
scrollbar.fine-tune .slider:hover:active {
    background-image: url("assets/slider_fine_horizontal.svg"),
                      linear-gradient(to top,
                                      shade(@scrollbar_slider, 0.9),
                                      shade(@scrollbar_slider, 0.81) 55%,
                                      shade(@scrollbar_slider, 0.6));
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-image: none;
    border-color: shade(@scrollbar_slider, 0.65);
    border-width: 1px;
}

scrollbar.vertical.fine-tune slider:hover:active,
scrollbar.vertical.fine-tune .slider:hover:active {
    background-image: url("assets/slider_fine_vertical.svg"),
                      linear-gradient(to left,
                                      shade(@scrollbar_slider, 0.9),
                                      shade(@scrollbar_slider, 0.81) 55%,
                                      shade(@scrollbar_slider, 0.6));
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-image: none;
    border-color: shade(@scrollbar_slider, 0.65);
    border-width: 1px;
}

/* overlay scrollbar */
OsThumb {
    color: shade (@theme_fg_color, 1.6);
}

OsThumb:selected,
scrollbar.overlay-indicator:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
scrollbar.overlay-indicator:active {
    background-color: shade (@theme_bg_color, 0.6);
}

OsThumb:disabled,
scrollbar.overlay-indicator:disabled {
    background-color: shade (@theme_bg_color, 0.85);
}

overlay-indicator

/*******************
 * scrolled window *
 *******************/
scrolledwindow.frame {
    border-top-color: shade (@theme_bg_color, 0.84);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.86);
    border-left-color: shade (@theme_bg_color, 0.76);
    border-radius: 0;
    border-style: solid;
}

 /* the small square between scrollbars!!!
     no borders with background-image */
scrolledwindow junction {
    background-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 1.00),
                                      shade(@theme_bg_color, 1.00));
    border-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 1.00),
                                      shade(@theme_bg_color, 1.00));
    background-color: transparent;
    border-style: none;
    border-width: 0;
    box-shadow: none;
}

